/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$red: #ef476f;
$blue: #118ab2;
$yellow: #ffd166;
$light-green: #06d6a0;
$dark-green: #073b4c;



body {
  background-image: linear-gradient(to bottom right, #83D0B2, #8DCA93);
  font-family: 'Jost', sans-serif;
  margin: 0;
}

#timer {
  font-weight: bold;
}

.hmenu {
  list-style: none;
  li {
    display: inline;
  }
  a {
    color: inherit;
    
  }
}

header {
  grid-column: 1 / 13;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  display: flex;
  flex-flow: row-reverse;
  a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
  }
}

// CSS Grid
.grid-container {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  // grid-template-rows: repeat(12, 1fr);
  height: 100vh;
}

.flex-container {
  flex-flow: column;
  flex-wrap: wrap;
}

// Button styling
.btn {
  border-radius: 5px;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.btn__header {
  background-color: $yellow;
  // color: white;
}

.btn:focus {outline: 0;}

.btn__header {
  padding: 10px;
}

.inline {display: inline;}

.timer-control {
  button {
    background-color: $yellow;
  }
}

button {
  font-family: inherit;
  font-weight: bold;
}

