// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[data-initials]:before {
  $height: 50px;
  background: #099bdd;
  color: white;
  opacity: 1; 
  content: attr(data-initials); 
  display: inline-block; 
  font-weight: bold; 
  border-radius: 50%; 
  vertical-align: middle; 
  margin-right: 0.5em; 
  width: $height; 
  height: $height; 
  line-height: $height; 
  text-align: center; 
  cursor: pointer;
  }