// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[data-initials]:before {
  $height: 50px;
  background: #099bdd;
  color: white;
  opacity: 1; 
  content: attr(data-initials); 
  display: inline-block; 
  font-weight: bold; 
  border-radius: 50%; 
  vertical-align: middle; 
  margin-right: 0.5em; 
  width: $height; 
  height: $height; 
  line-height: $height; 
  text-align: center; 
  cursor: pointer;
}

.timer-log__table {
  width: 100%;
  th {
    text-align: left;
  }
}

// .progress-ring {
//   grid-column: 4;
//   grid-row: 6;
// }

// .pomodoro-clock__circle {
//   grid-column: 4;
//   grid-row: 6;
//   $height: 300px;
//   width: $height; 
//   height: $height; 
//   line-height: $height; 
//   text-align: center; 
//   border-radius: 50%; 
//   vertical-align: middle; 
//   display: inline-block; 
//   // opacity: 0;
//   border: 5px solid white;
//   // background-color: blue;
// }

.timer {
  grid-column: 4;
  grid-row: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timer {
  // position: absolute;
}

.progress-ring__circle {
  // stroke-dasharray: 10 20;
  transition: stroke-dashoffset ease 1s;
  transition-timing-function: linear;
  transform: rotate(-90deg);
  transform-origin: 50% 50%,
}

.timer-value__container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 6;
  grid-column: 4;
}

.pomodoro-clock__current-value {
  color: white;
  font-size: 4em;
  z-index: 1;
}

.timer-log {
  grid-column: 6 / span 3;
  grid-row: 6;
  overflow-y: scroll;
}

.timer-control {
  display: flex;
  justify-content: center;
  grid-row: 5;
  grid-column: 1 / 13;
}

.timer-control > button {
  padding: 20px;
  margin: 0 30px 30px 30px;
}