.top, .bottom {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}

.bottom {
  background-color: white;
}

.btn {
  border-radius: 5px;
}

.timer-control > button {
  padding: 20px;
  margin: 0 30px 30px 30px;
  border: 0;
}

#btn__pomodoro {
  background-color: #D67F5E;
}
#btn__short-break {
  background-color: #7790E2;
}
#btn__long-break {
  background-color: #7790E2;
}

#goal {
  color: black;
  background-color: inherit;
  text-align: center;
  border: 0;
  border-bottom: 1px solid black;
  width: 3em;
  font-size: 2em;
}

#goal:focus {
  outline: none;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.timer-value__container {
  position: absolute;
  color: white;
  font-size: 4em;
}

.daily-goal {
  padding: 20px;
}

#btn--history {
  margin: 10px;
}

// Table
.timer-log__table {
  tr {

  }
}


// Circle
.progress-ring__circle {
  // stroke-dasharray: 10 20;
  transition: stroke-dashoffset ease 1s;
  transition-timing-function: linear;
  transform: rotate(-90deg);
  transform-origin: 50% 50%,
}

